* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #4caf50;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: lightskyblue;
  color: #a0f292;
  transition: all 0.5s;
}
.activee {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 20px;
}

/* Update profile */
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Mooli&family=Playpen+Sans&family=Rubik:wght@300&family=Ubuntu:wght@300;400&display=swap");
* {
  font-family: "Mooli", sans-serif;
}

.registrationForm {
  background: #4caf50;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* This is for registration-form only  */
.bottomLine i {
  color: #ffd700;
}
.passwordTtoggle {
  position: relative;
  width: 100%;
}

.passwordToggle i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}
.passwordToggle i:hover {
  color: #ffd700;
}
.formControl,
.formSelect {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.bottomLine {
  border-bottom: 2px solid #ffd700;
  background: white;
}
.formControl:focus,
.formSelect:focus {
  outline: none;
  box-shadow: none;
}
.Home {
  background: #ffd700;
  clip-path: polygon(50% 0%, 100% 0, 100% 96%, 66% 100%, 28% 96%, 0 100%, 0 0);
}
